html,

head{
  margin-top: 30px;

}

body {
  height: 100%;
}

.input-group{
  margin-top: 10px;
}


.table{
  margin-top: 30px;
}


.btnbtn-dark{
  margin-top: 50px;
  float: center;
}


footer{
  margin-top: 50px;
}
