html,

head{
  margin-top: 30px;

}

body {
  height: 100%;
}

.input-group{
  margin-top: 10px;
}


.table{
  margin-top: 30px;

}


.btnbtn-dark{
  margin-top: 50px;
  float: center;
}


footer{
  margin-top: 50px;
  margin-right:auto

}

  .boton {
    border: 1px #111111; /*anchura, estilo y color borde*/
    padding: 9px; /*espacio alrededor texto*/
    background-color: #111111; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
    margin:690px;
    }

    .buto{
      border: 1px #111111; /*anchura, estilo y color borde*/
      padding: 3px; /*espacio alrededor texto*/
      background-color: #111111; /*color botón*/
      color: #ffffff; /*color texto*/
      border-radius: 50px; /*bordes redondos*/
      text-decoration: none; /*decoración texto*/
      text-transform: lowercase; /*capitalización texto*/
      font-family: Arial, Helvetica, sans-serif /*tipografía texto*/
    }
