:root {
    /* colores que se pueden poner en todo el archivo */
    --color-dark: #15181f;
    --color-dark-x:#ffffff00;
    --color-dark-xx:#1f232b;  
    --color-light: #ffffff;
    --color-grey:#f5f6f8;
    
}

*{
    margin: 0px;
    padding: 0px;
    
}

body{
    background-image: url(https://cloudfront-us-east-1.images.arcpublishing.com/metroworldnews/PAW6O2JIVBDFTC3C3B4ZAVMNGA.jpg); 
    background-size: cover;
    font-family: 'Roboto' ,'sanz-serif';
    font-size: 1.1rem;
    font-weight: 300;
     /* color de fondo franjas*/
    color: var(--color-light); /*color de la letra*/
    letter-spacing: .05rem; /* espaciado entre las letras*/
    
    
}


/*CLASES DE BOOTSTRAP*/
.bg-light{
    background-color: var(--color-light)!important; /* para que sobreescriban a las clases que ya se definieron en bootstrap*/
}
.bg-dark {
    background-color: var(--color-dark-x); /* color de el fondo completo incluyendo el fondo de registro*/
}
.p-6 { /* clase para añadir padding a todos los lados */
    padding: 4rem 7rem ;
}



/* caja completa */

.btn {
    font-weight: 400;
    padding: 1rem 2rem;
    border-radius: 5rem;
    min-width: 10rem;

}
.btn-outline-dark{
    border:2px solid var(--color-dark-xx);

}

.glyphicon-pencil{
    font-size: 35px;
    color: white;
    float: right;
    margin-top:  20px;

}
.col-md-6{
    margin-top: 80px;
    box-shadow: -1px 1px 60px 10px black;
    background: rgba(0, 0, 0, 4);
}

.form-control { /*campos de las cajas del formulario */
    background: transparent;
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid white;
    font-size: 18px;
    margin-top: 15px;
    height: 40px;
    color: white;

}





@media (max-width:575.98){ /* Medidad apropiadas para android*/
 .p-6{
     padding: 2rem;
 }
 .contact-box{
    padding: 0;
 }
 .width-100{
     width: 100%;
 }
}
@media(max-width: 1200px){
    .register-bg{
        min-height: 50vh;
    }

}
