
 :root {
     --primary: #000000;
     --light: #ffffff;
     --grey: #efefef;
 }
body {
    overflow: hidden;
    font-family: 'Muli',sans-serif;
    font-weight: 300;
    color: var(--primary)
}

/* Todos los link no tengan la lidea debajo*/
a:hover {
    text-decoration: none;
}

.bg-prymary { background-color: var(--primary) !important;}

#sidebar-container {
    min-height: 100vh;
}

#sidebar-container .logo {
    padding: .875rem 1.25rem;  
}

#sidebar-container .menu {
    width: 18rem;
}

.btn-search {
    right:0;

}