* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   
header {
    background-image:url(https://www.santiagotours.org/uploads/fotos/original/foto_4738_.jpg);
    width: 100%;
    height:600px;
    color: white;
    text-align-last: center;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-attachment: fixed;
    position:relative;
}