 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

 }
body {
    font-family: 'century Gothic',sans-serif;
    background: #eaecec;
}


header {
    background-image:url(https://www.santiagotours.org/uploads/fotos/original/foto_4738_.jpg);
    width: 100%;
    height: 600px;
    color: white;
    text-align-last: center;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-attachment: fixed;
    position: relative;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;


}

nav ul {
    list-style: none;
    background: #7c96af;
}

nav ul li {
    display: inline-block;
    padding: 20px;
    transition: all ease-in-out 250ms;
}

ul li a {
    color:white;
    text-decoration: none;
}

nav ul li:hover {
    background: #eff0f1;

}
/*Estilos de las cajas */
h2 {
    background-color: #fff5d2;
    font-family: 'century Gothic',sans-serif;
    text-align-last: center;
    display: inline-block;
    padding: 150px;
    margin: 130px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 30px;

    
}