 
 * {
    margin: 0;
    padding: 0;
    box-sizing: borde-box;

 }
body {
    font-family: 'century Gothic',sans-serif;
}

header {
    width: 100%;
    padding: 40px;
    color: white;
    text-align-last: center;
    background: #112d4e;
}

nav ul {
    list-style: none;
    background: #164884;
}

nav ul li {
    display: inline-block;
    padding: 20px;
    transition: all ease-in-out 250ms;
}

ul li a {
    color:white;
    text-decoration: none;
}

nav ul li:hover {
    background: #112d4e;

}
/*Estilos de las cajas */
h2 {
    background-color: #6e8ba3;
    display: inline-block;
    padding: 150px;
    margin: 100px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 30px;
    border: 5px solid green;
}