 
 * {
    margin: 0;
    padding: 0;
    box-sizing: borde-box;

 }
body {
    font-family: 'century Gothic',sans-serif;
}

header {
    width: 100%;
    padding: 40px;
    color: white;
    text-align-last: center;
    background: #112d4e;
}

nav ul {
    list-style: none;
    background: 20px;
}
